name: Rodar Pipeline
on:
  pull_request:
    paths:
      - '**/*.swift'


jobs:
  build: 
    name: Build Project 
    runs-on: macOS-latest
    steps:
    - name: Configurando Ambiente
      uses: actions/checkout@v1

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_14.3.1.app

    - name: intall dependencies
      run: pod install --project-directory=./AppMVVM

    - name: Clean & Build & Test
      run: xcodebuild clean build test -workspace AppMVVM/AppMVVM.xcworkspace -scheme AppMVVM CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=iOS Simulator,OS=16.4,name=iPhone 14" ONLY_ACTIVE_ARCH=YES
